<div class="container intermezzo  ">
  <div class="row rellax" data-rellax-speed=4>
    <h1 class="">Nice Jewelry <span class="badge badge-secondary">New</span></h1>
  </div>

  <div class="row billboard rellax" data-rellax-zindex="5" data-rellax-speed="6">
    <div class="col-sm-12 " >
      <h3> Never Forget a Memory Again </h3>
      <p>The new luxury. History says fine jewelry for occasions, we say fine jewelry for every day.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>
  </div>


</div>
