<div class="container intermezzo ">
  <div class="row rellax" data-rellax-speed=4>
    <h1 class=""><span class="badge badge-secondary">New</span> The Influencer <br>Accessory</h1>
  </div>

  <div class="row billboard" id="rellax" data-rellax-zindex="5" data-rellax-speed="6">
    <div class="col-sm-12" id="rellax">
      <h3> Nice Jewlery: The Ultimate Social Media Accessory </h3>
      <p >The new luxury. History says fine jewelry for occasions, we say fine jewelry for every day.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>
  </div>


</div>
