<div class="container intermezzo ">
  <div class="row rellax" data-rellax-speed=4>
    <h1 class=""><span class="badge badge-secondary">New</span> The Influencer <br>Accessory</h1>
  </div>

  <div class="row billboard" id="rellax" data-rellax-zindex="5" data-rellax-speed="6">
    <div class="col-sm-12" id="rellax">
      <h2> Never Unplug </h2>
      <p class='col-sm-5'> Nice Jewlery wants to help you stay connected, 24/7/365 with no breaks because what if you miss something?</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>
  </div>


</div>
