
<div class="container">
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0039/8002/files/HPHero_CosmicLuna_Desktop_Crop2_1500x900.jpg?v=1599773145" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Materials</h5>
      <p class="card-text">When it comes to our manufacturing, we vet and partner with top jewelers who commit to exceptional craftsmanship, ethical practices and the finest materials..</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0039/8002/files/CLP_BeaArrow_2Up_720x.jpg?v=1574288897" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Jewlery Ethics</h5>
      <p class="card-text">We only produce in small quantities. Not because we like waitlists, but because we firmly believe in quality over quantity.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0039/8002/files/CLP_NewArrivals_Fine_Jewelry_2Up_Version2_720x.jpg?v=1568301848" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Bling Bling</h5>
      <p class="card-text">Because we only work with the best, no matter where they are, so we select our partners based on specialty and work directly with them.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
</div>
