
<div class="container">

<div class="card-deck"  id="card-two"
data-paroller-factor="0.5">

  <div class="card rellax" data-rellax-speed="3">
    <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0039/8002/files/HPHero_CosmicLuna_Desktop_Crop2_1500x900.jpg?v=1599773145" alt="Card image cap">
    <div data-depth="0.6" class="card-body">
      <h5 class="card-title">Compatible with Twitter</h5>
      <p class="card-text">Detailed recording of aspects of a person's life.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card " >
    <img class="card-img-top"
    src="https://cdn.shopify.com/s/files/1/0039/8002/files/CLP_BeaArrow_2Up_720x.jpg?v=1574288897" alt="Card image cap">
    <div data-depth="0.2" class="card-body">
      <h5 class="card-title">Facebook Approved</h5>
      <p class="card-text">Allows users to record everything they see and hear, storing all of their memories in one place.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card rellax " data-rellax-speed="4">
    <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0039/8002/files/CLP_NewArrivals_Fine_Jewelry_2Up_Version2_720x.jpg?v=1568301848" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Backed by AWS</h5>
      <p class="card-text">With the use of a remote, people are then able to rewind to any memory they want to access to relive it and these can even be projected on to a screen to share with others.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
</div>
