<div class="container copie">
  <div class="row">
    <div class="offset-md-2 col-md-8 centered">
      <h3> Nice Jewlery knows life is hard</h3>
      <h1> We're here to help keep your followers placated </h1>
      <p> Using a non invasive surgery we'll implant a thought reader in your forearm for maximum thought reading! </p>
    </div>
  </div>
</div>
