<div class="container copie">
  <div class="row">
    <div class="offset-md-2 col-md-8 centered">
      <h3> How can you keep up with social media?</h3>
      <h1> Now you dont have to worry about that!  </h1>
      <p>  Nice jewlery uses a patented technology to implant a chip in your forearm to read your thoughts and upload them in REAL TIME to your social media platforms.</p>
    </div>
  </div>
</div>
