<div class="container copie">
  <div class="row">
    <div class="offset-md-2 col-md-8 centered">
      <h3> your project </h3>
      <h1> Looking to quickly add Bootstrap to your project?  </h1>
      <p>  We work with expert jewelers who use high quality and enduring materials. From precious metals, set with genuine gemstones and ethically sourced diamonds.</p>
    </div>
  </div>
</div>
