<div class="container-fluid" id="sticky-footer">
    <footer class="py-4 bg-dark text-white-50">
      <div class="text-center">
        <small>Copyright &copy; Cockapoo Farms</small>
      </div>
    </footer>
</div>

</body>

</html>
