<div class="container rellax jewel" data-rellax-speed="3">
  <div class="row">
    <div class="col-sm-6 rellax" data-rellax-speed="2">
      <img class="rellax earrings" src="https://cdn.shopify.com/s/files/1/0039/8002/products/stacking-suite-12_large.jpg?v=1520354328">
    </div>
  </div>
  <div class="row">
    <div class="offset-sm-2 col-sm-4 rellax" data-rellax-speed="2">
        <h3> Disclaimer: </h3>
        <p>You may feel a slight shock if you havent posted within a time senstive window. The thought provider will buzz you to grab your attenion! </p>
    </div>
    <div class="col-sm-6 rellax" data-rellax-speed="4">
      <img class="rellax " src="https://cdn.shopify.com/s/files/1/0039/8002/products/BeaStardustNecklace_ALT_1800x.png?v=1606934660">
    </div>
  </div>
</div>
