<div class="container rellax" data-rellax-speed="3">
  <div class="row">
    <div class="col-sm-6 rellax" data-rellax-speed="2">
      <img class="rellax earrings" src="https://cdn.shopify.com/s/files/1/0039/8002/products/stacking-suite-12_large.jpg?v=1520354328">
    </div>
  </div>
  <div class="row">
    <div class="offset-sm-5 col-sm-6 rellax" data-rellax-speed="4">
      <img class="rellax earrings" src="https://cdn.shopify.com/s/files/1/0039/8002/products/stacking-suite-12_large.jpg?v=1520354328">
    </div>
  </div>
</div>
