<div class="jumbotron rellax" data-rellax-speed="7">
  <h1 class="display-3" id="rellax">The Ultimate Jewlery</h1>
    <p class="lead-3"> Jewlery that can read your thoughts and update your status.</p>
  <button type="button" class="btn btn-lg btn-outline-primary">Shop Now</button>

</div>
