<div class="jumbotron rellax" data-rellax-speed="7">
  <h1 class="display-3" id="rellax">Thought Provoking Jewlery</h1>
    <p class="lead-3" id="rellax"> These jewels can read your mind so you never have to actively update your status again.</p>
  <button type="button" id="rellax" class="btn btn-lg btn-outline-primary">Shop Now</button>

</div>
