<div class="jumbotron container-fluid">
  <h1 class="display-3">Uniquely Yours</h1>
    <p class="lead-3">Discover some nice jewlery.</p>
  <button type="button" class="btn btn-lg btn-outline-primary">Shop Now</button>

</div>
