<div class="jumbotron">
  <h1 class="display-3" data-paroller-factor="0.5"
  data-paroller-factor-xs="0.2">Your Entire History</h1>
    <p class="lead-3"> Record everything you see and hear.</p>
  <button type="button" class="btn btn-lg btn-outline-primary">Shop Now</button>

</div>
