
<nav class="navbar navbar-expand-md navbar-light bg-faded">
    <a class="navbar-brand d-md-none" href="/"><b> Nice Jewlery</b></a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-md-flex d-block w-100">
        <div class="collapse navbar-collapse mx-auto w-auto justify-content-center" id="navbarNavAltMarkup">
            <div class="navbar-nav nav-fill w-100">
                <a class="nav-item nav-link" href="/">Home </a>
                <a class="nav-item nav-link" href="#">About</a>
                <a class="navbar-brand mx-2 d-none d-md-inline" href="/"><b> Nice Jewlery</b></a>
                <a class="nav-item nav-link" href="#">Gift Edit</a>
                <a class="nav-item nav-link" href="/login">Sign In</a>
            </div>
        </div>
    </div>
</nav>
