<div class="topnav navbar-light bg-faded" id="myTopnav">
  <div class="d-md-flex d-block w-100">
    <div class="mx-auto w-auto justify-content-center w-100">
      <a class="nav-item nav-link" href="/">Home </a>
      <a class="nav-item nav-link" href="/about">About</a>
      <a class="navbar-brand mx-2 d-none d-md-inline" href="/"><b> Nice Jewlery</b></a>
      <a class="nav-item nav-link" href="/gift">Gift Edit</a>
      <a class="nav-item nav-link" href="/login">Sign In</a>

      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
</div>



<script>
  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
</script>
