<container>
  <div class="row">
    <div class="offset-md-10 col-sm-2">
      <img class="ring rellax" data-rellax-zindex="8" src="https://cdn.shopify.com/s/files/1/0039/8002/products/Bea_Five_Stone_EC_BSA_YG_WD_1800x.gif?v=1578433687">
    </div>
  </div>
</container>
