<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <img class="ring rellax" data-rellax-zindex="8" src="https://cdn.shopify.com/s/files/1/0039/8002/products/bea_r-42-2012_yg-gd-wd-wd_v01_1800x.jpg?v=1520603973">
    </div>
  </div>

</div>
