<%- include('./partials/header') %>

<%- include('./partials/navbar') %>

<div class='container-fluid'>
  <img class="four" src="https://cdn.shopify.com/s/files/1/0039/8002/files/InStock_Banner_Holiday_3024x.jpg?v=1572551507">
</div>


<div class="container-fluid" id="fourcopy">
  <h1 class="display-5">It's Not You, It's Us. Let's Try Again.</h1>

  <a class="btn btn-lg btn-outline-primary" href="/register" role="button">Register</a>
    <a class="btn btn-lg btn-outline-primary" href="/login" role="button">Sign In</a>
  <!-- <button type="button" class="btn btn-lg btn-outline-primary"><a href="/login"> Login </a> </button>
  <button type="button" class="btn btn-lg btn-outline-primary" href="/register">Register </button> -->
</div>






<%- include('./partials/footer') %>
