<%- include('./partials/header') %>

<%- include('./partials/navbar') %>

<div class="container about">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <h3> Behind the fine </h3>
      <p> When it comes to our manufacturing, we vet and partner with top jewelers who commit to exceptional craftsmanship, ethical practices and the finest materials. </p>

      <p> We only produce in small quantities. Not because we like waitlists, but because we firmly believe in quality over quantity. While we challenge the way we introduce high-quality pieces with weekly drops, we can’t—and never will—change the
        traditional process of making fine jewelry. Our pieces are handcrafted like the olden days, but designed for the golden days ahead.</p>
    </div>
  </div>
</div>

<div class="container-fluid" id="about">

</div>


<%- include('./partials/footer') %>
