<%- include('./partials/header') %>

<%- include('./partials/navbar') %>


<div class="container-fluid" id="black">
  <div class="row">
  <div class="col-sm-3 offset-sm-2 ">
    <h3> It is Quality & Not Basic.</h3>
    <p>The new luxury. History says fine jewelry for occasions, we say fine jewelry for every day.</p>
    </div>
    <div class="col-sm-6">
      <img src="https://res.cloudinary.com/mejuri-com/image/upload/c_fill,dpr_1.6,g_center,h_440,w_440/f_auto,q_auto/v1/editorial-lookbook/how-to-style-juliana-salazar-jewelry/Hero">
      </div>
      </div>
  </div>

<%- include('./partials/footer') %>
