<%- include('./partials/header') %>

<%- include('./partials/navbar') %>

<div id="black">
<div class="container-fluid">
  <div class="row">
  <div class="col-sm-3 offset-sm-2 ">
    <h3> It is Quality & Not Basic.</h3>
    <p>The new luxury. History says fine jewelry for occasions, we say fine jewelry for every day.</p>
    </div>
    <div class="col-sm-6">
      <img src="https://res.cloudinary.com/mejuri-com/image/upload/c_fill,dpr_1.6,g_center,h_440,w_440/f_auto,q_auto/v1/editorial-lookbook/how-to-style-juliana-salazar-jewelry/Hero">
      </div>
      </div>
      </div>
  </div>

<div id ="blue">
<div class="container-fluid">
  <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0039/8002/products/EleonoreSuiteNo14_27570359-c548-489d-845f-015a074b62f1_large.jpg?v=1597173533" alt="Card image cap">
    <div class="card-body">
    <h5 class="card-title">HAZELINE SUITE NO. 02</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Price Upon Request</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0039/8002/products/Eleonore_Suite_2_large.jpg?v=1541342771" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">HAZELINE SUITE NO. 02</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Price Upon Request</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0039/8002/products/Theda_Ring_Oval_RC_CD_WD_1.85ct_large.jpg?v=1563555217" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">HAZELINE SUITE NO. 02</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Price Upon Request</small></p>
    </div>
  </div>
</div>
</div>
</div>

<%- include('./partials/footer') %>
