@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

html {
  min-height: 100%;
   position: relative;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: transparent !important;
}

.navbar {
  border-bottom: 1px solid #F1F0F0
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

.logo {
  width: 30% !important;
}

.about{
  text-align:center;
  padding:30px;
}

.lead {
  margin-top: 40px;
}

.intermezzo h3 {
  margin-top:60px;
}

.badge-secondary {
    color: #fff;
    background-color: #f3adcaba;
}

.display-3 {
  margin-top: 170px;
}

.navbar {
  padding: 30px;
}

.jumbotron {
  background-image: url("https://cdn.shopify.com/s/files/1/0039/8002/files/finejewelrybanner_9b34ccb7-e08d-4c47-abee-2813b0b336ed_2000x.jpg?v=1564494142");
  height: 70vh;
  background-size: cover;
}


#about {
  background-image: url("https://cdn.shopify.com/s/files/1/0039/8002/files/HP_hero_dktp_1500x900.jpg?v=1589810588");
  height: 70vh;
  background-size: cover;
}

#black {
background-color: black;
padding: 50px;
}

#black img {
  width:80%;
}

#black h3,p {
  color:white;
  text-align:center;
  margin-top:90px;
}


.billboard {
  margin-top: 40px;
  height: 70vh;
  background-size: cover;
  margin-bottom: 40px;
  background-image: url("https://cdn.shopify.com/s/files/1/0039/8002/collections/Newness_NEW_Option_3_3d9208e7-f21e-4ebb-971b-f4699eb99067_2000x.jpg?v=1565017170");
}

.intermezzo {
  margin-top: 40px;
}

.btn-outline-primary, .btn-primary {
    color: black;
    background-color:transparent;
    border-color: black;
}

.btn-primary:hover {
  color: black;
  background-color: white;
  border-color: black;

}

.bg-primary {
  background-color: #e9ecef !important;
}

.btn-outline-primary:hover {
color: black;
background-color: white;
border-color: black;
}

#sticky-footer {
  position: absolute;
 bottom: 0;
 width: 100%;
  padding-right:0;
  padding-left:0;

}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
 padding: 15px;
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}

.followus {
  margin-bottom:80px;
}

.followus h1 {
  text-align: center;
  padding:30px;
  margin-top:30px;
}
