@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

body {
  font-family:'Kumbh Sans', sans-serif;
  background-color: transparent !important;
}

h1,h2,h3,h4,h5 {
  font-weight:700;
}

.logo {
  width:30% !important;
}

.lead {
  margin-top:40px;
}

.display-3 {
  margin-top:70px;
}

.navbar {
  padding:30px;
}

.jumbotron {
  background-image:url("https://cdn.shopify.com/s/files/1/0039/8002/files/finejewelrybanner_9b34ccb7-e08d-4c47-abee-2813b0b336ed_2000x.jpg?v=1564494142");
  height:70vh;
  background-size:cover;
}


.billboard  {
  margin-top:40px;
  height:70vh;
  background-size:cover;
  margin-bottom:40px;
  background-image:url("https://cdn.shopify.com/s/files/1/0039/8002/collections/Newness_NEW_Option_3_3d9208e7-f21e-4ebb-971b-f4699eb99067_2000x.jpg?v=1565017170");
}

.intermezzo {
  margin-top:40px;
}
